/* @import fonts  */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");

/* Variables  */

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --third-color: #817674;
  --btn-color:#ECCB47; 
  --footer-color:#3d3d3c;
}

/* * Globals *  */

.btn {
    
}

.main-container {
    width: 80%;
    /* border: 2px solid white; */
    margin: auto;
}


/* Resetting the CSS  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
    background: var(--primary-color);
}

/* * Navigation bar & Header Designing *  */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    /* border: 3px solid white; */
}

header .navigation .nav-ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

header a {
  color: #817674;
  text-decoration: none;
  padding: 3px 6px;
  margin: 2px 9px;
  transition: all 1s ease-in;

}

header .nav-ul li a:hover {
    cursor: pointer;
    /* background: var(--third-color); */
    transform: scale(1);
    color: var(--secondary-color);

}

.nav-ul li {
  list-style: none;
}

 .btn {
    padding: 7px;
    font-size: 1.1rem;
    background-color: var(--btn-color);
    border-radius: 4px;
    transition: all 1s ease-in;

}

 .btn:hover {
    cursor: pointer;
    background: var(--third-color);
    transform: scale(1);
    color: var(--secondary-color);
    border-radius: 4px;

}

 h2 {
    color: var(--secondary-color);
  /* margin-right: auto; */
    font-size: 1.3rem;
    transition: all 1s ease-in;
}

header h2:hover {
    cursor: pointer;
    filter:blur(1px);
}


/* Header and navigation completed for the desktop  */ 


/* Main container to wrap up things in that */


.container {
    width: 40%;
    /* border: 2px solid white; */
    /* position: relative;   */
    /* top: 50px; */
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Section About Me  */

section .container h1 {
    color: var(--secondary-color);
}

section .container p {
    color: var(--third-color);
}

/* Section About Me Completed  */

/* Section Logo's Started  */

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    /* border: 2px solid white; */
    height: 100px;
    align-items: center;
}

.logo {
    transition: all 1s ease-in;
}
.logo:hover {
    filter: brightness(200%);
    filter: blur(2px);

}

/* Section Logos Completed */

/* Section Projects Started */

.two-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* flex-wrap: wrap; */
}

.box {
    margin: 5px 19px;
    border-radius: 3px;
    box-shadow: 10px 15px 7px var(--third-color);
}


.box h2{
    color: var(--secondary-color);
    width: 80%;
    margin: 2px 4px;
    padding: 2px 4px;

}

.box p {
    color: var(--third-color);
    width: 80%;
    padding: 2px 4px;
    margin: 2px 4px;
}

/* Section projects completed here  */

/* sections description started  */ 

.Flex-section {
    background: var(--footer-color);
    padding: 9px 15px;
    margin-top: 30px;
}

.boxes p{
    color: var(--third-color);
    margin: 3px 4px;
    padding: 5px;
    z-index: 1;
}
.boxes h2{
    color: var(--secondary-color);
}

.contact-container h2 {
    margin:2px 3px;
    padding: 2px 3px;
}
.contact-container button {
    margin:2px 3px;
    padding: 2px 3px;
}
.contact-container p {
    margin:2px 3px;
    padding: 2px 3px;
}

footer {
    background: var(--footer-color);
    padding: 13px;
}

#footer-flex {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#footer-flex ul {
    display: flex;
    justify-content:center;
}

#footer-flex ul li  {
    margin: 4px 4px;
}

#footer-flex ul li a img {
    transition: all 1s ease-in;
}

#footer-flex ul li a img:hover {
    filter: invert(100%);
}

#footer-flex h2{
    margin-right: auto;
}